<%namespace name='static' file='../static_content.html'/>
<%!
  from django.conf import settings
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from contentstore.context_processors import doc_url
  from student.roles import CourseCreatorRole, CourseInstructorRole, CourseStaffRole
%>
<%page args="online_help_token"/>

<script>
$(document).ready(function () {
  // define variables for code legibility
    var dropdownMenuToggle2 = $('header#mainMenu a#menuIcon');
    var dropdownMenu2 = $('header#mainMenu ul.dropdown-menu2');
    var userMenuToggle = $('a#userMenu');
    var userDropDown = $('#userDropDown');
    var menuItems2 = dropdownMenu2.find('a');

  $(document.body).on("click",'header#mainMenu a#userMenu', function() {
    console.log('User clicked', $(this));
    console.log('user userDropDown', userDropDown);
    userDropDown.toggle();
    userDropDown.toggleClass("is-shown");

  });  
  $(document.body).on("click",'header#mainMenu a#menuIcon', function() {
    console.log('Menu clicked', $(this));
    console.log('Menu dropdownMenuToggle2', dropdownMenuToggle2);
    console.log('Menu dropdownMenu2', dropdownMenu2);
    dropdownMenu2.toggle();
    dropdownMenu2.toggleClass("expanded");
    dropdownMenuToggle2.toggleClass("active");
  });
  if ( event.which == 32) {
      dropdownMenuToggle2.click();
      event.preventDefault();
  } 
});
$(function() {
    var username2 = "${user.username}";
    console.log("Username is: ", "${user.username}");
    var form = $(".manage-accounts-form"),
        profileUrl = 'http://54.194.186.149/api/user/v1/accounts/USNAME',
        menuProfile;

    menuProfile = function(username) {
        return $.ajax({
            type: "GET",
            url: profileUrl.replace('USNAME', username),
            success: function(response) {
                var imageUrl = response["profile_image"]["image_url_medium"];
                imageUrl = imageUrl.replace("media", "static");
                console.log('Image Url response: ', imageUrl);
                $('#imageMain').attr("src", imageUrl);
            }
        });
    };
    
    menuProfile(username2);

    
});

</script>
<div class="wrapper-header wrapper" id="view-top2">
  <header class="navbar navbar-default navbar-fixed-top global" id="mainMenu">
    <div class="col-md-12 nav-dd ui-right">
       <a class="header-icon pull-left" href="#" id="menuIcon">
        <img src="https://dl.dropboxusercontent.com/s/w4hyv2b02bj006v/menu-icon.png">
      </a>
      <div class="col-xs-3">
      <ul class="dropdown-menu2" id="menuSite" style="display: none; left:-45px; top:75px;">
        <%block name="navigation_dropdown_main" >
        <li id="menuTop">
          <a href="/">
            <img src="/static/themes/edx-theme/images/menu2.png" />   ${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}
          </a>
        </li>
        <li>
          <a href="http://54.194.186.149/courses">

          <img src="/static/themes/edx-theme/images/menu1.png" /> ${_("Find Courses")}
          </a>
        </li>
        <li class="">
          <a href="http://54.194.186.149:80">
            ${_("{platform_name} LMS").format(platform_name=settings.PLATFORM_NAME)}
          </a>
        </li>
          
        </%block>
        
      </ul>
      </div>
       <a class="pull-right" href="#">
        <div class="profile-wrapper pull-right">
              
              <div class="header-icon pull-right" style="margin-right:0px;">
                <a class="title" id="userMenu"  style="margin-right: -9px; margin-top: -2px; margin-right: -9px; margin-bottom: 0px; padding-top: 0px;">
                  <img src="https://dl.dropboxusercontent.com/s/saxww8t11hv3ijy/dropdown-dots.png">
                </a>
              </div>
              <div class="pull-right tile-avatar">
                <img src="https://dl.dropboxusercontent.com/s/g8t0pddiy3v9307/avatar-default.png">
              </div>
          </div>
       </a>
       <div class="wrapper wrapper-nav-sub" id="userDropDown" style="display:none;">
          <div class="nav-sub">
            <ul>
              <li class="nav-item nav-account-dashboard">
                <a href="/">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</a>
              </li>
              <li class="nav-item nav-account-signout">
                <a class="action action-signout" href="${reverse('logout')}">${_("Sign Out")}</a>
              </li>
              
            </ul>
          </div>
        </div>
      <a class="header-icon pull-right" href="#">
        <img src="https://dl.dropboxusercontent.com/s/2fo6k7djaq3keci/notification-icon.png">
      </a>
      <a class="header-icon pull-right" href="#">
        <img src="https://dl.dropboxusercontent.com/s/t36d54pr2kgq0b1/message-icon.png">
      </a>
    </div>
  </header>





</div>
